<h3 class="form-admin-title">Add Post</h3>
<form class="form-admin" action="/admin/add-post" method="post">
    <p>Title</p>
    <input type="text" name="title" placeholder="Enter title">
    <p>Body</p>
    <textarea name="body" cols="30" rows="10" placeholder="Enter body"></textarea>
    <button type="submit" class="btn-login">Add</button>
</form>