<h3 class="form-admin-title">Login</h3>
<form class="form-admin" action="/admin/login" method="post">
    <p>Username</p>
    <input type="text" name="username" placeholder="Enter username">
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter password">
    <button type="submit" class="btn-login">Login</button>
</form>

<!-- username: tonii, password: 123 -->
<!-- <h3 class="form-admin-title">Register</h3>
<form class="form-admin" action="/admin/register" method="post">
    <p>Username</p>
    <input type="text" name="username" placeholder="Enter username">
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter password">
    <button type="submit" class="btn-register">Register</button>
</form> -->