<header>
    <a href="/" class="header__logo">Admin Panel</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="homeActive">Home</a>
            </li>
            <li>
                <a href="/about" class="aboutActive">About</a>
            </li>
            <li>
                    <a href="/contact" class="contactActive">Contact</a>
            </li>
        </ul>
    </nav>

    <button class="header_admin_button">
        Logout
    </button>
</header>