<header>
    <a href="/" class="header__logo">NodeJS</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="active">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>

    <button class="header_button">
        Search <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</header>