<div class="searchBar">
    <form class="formSearch" action="/search" method="post">
        <input class="inputSearch"
        type = "text"
        placeholder = "Search a site..."
        name = "searchValue" />
    </form>
</div>