<div class="author">
    <h1 class="author__heading">Hi, I am Tonii.</h1>
    <p class="author__body">Web developer</p>
</div>

<div class="img-index">
    <img src="./img/devEvolution.jpg" width="60%">
</div>

<section class="post">
    <p class="post__heading">Lastest Posts</p>
    <div class="post__item">
        <p class="post__title">Post title</p>
        <p class="post_date">Date</p>
    </div>
    
    <a href="" class="view-older">&lt; View Older Posts</a>
</section>